<div class="row">
  <div class="col-xs-12">
    <img src="{{receivedRecipe?.imagePath}}" alt="{{receivedRecipe?.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{receivedRecipe?.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="sendIngredientsToShoppingList(receivedRecipe.ingredients)">To shopping list</a>
        <li><a style="cursor: pointer" (click)="redirectToEditRecipe(receivedRecipe?.id)">Edit recipe</a>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete recipe</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{receivedRecipe?.description}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of receivedRecipe.ingredients"> {{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>
