<label>Server name</label>

<!--data binding with ngModel-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated; else noServer">Server was created, server is {{serverName}}!</p>
<ng-template #noServer>
<p>
  No server was created!
</p>
</ng-template>

<ul>
  <li>
    <app-server *ngFor="let server of servers"></app-server>
  </li>
</ul>


<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>Username is: {{username}}</p>
<button class="btn btn-primary" [disabled]="!username" (click)="resetUsername()">Reset username</button>

<!--practicing directives-->
<button class="btn btn-primary" (click)="visible?visible = false : visible=true; logClicks($event)" >
Display details</button>
<p *ngIf="visible">spanish inquisition</p>

<p *ngFor="let click of clicks; index as i" [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: getColor()==='green'}">{{i}} {{click}}</p>
