<label>Server name</label>
<!-- forced data binding with event binding and property binding-->
<input type="text" class="form-control" (input)="onUpdateServerName($event)" [value]="serverName">
<!--data binding with ngModel-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<p>{{serverCreationStatus}}</p>
<ul>
  <li>
    <app-server></app-server>
  </li>
  <li>
    <app-server></app-server>
  </li>
  <li>
    <app-server></app-server>
  </li>
  <li>
    <app-server></app-server>
  </li>
</ul>
